.menuContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.menuItem {
  color: white;
  font-size: 36px;
  cursor: url('../assets/cursorPointer.png') 15 0, pointer;
  /* min-width: 200px;
  width: 50%;
  max-width: 635px; */
  width: 100%;
  padding: 16px;
  background-color: orange;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: 3px solid brown;
  font-weight: 700;
  font-size: 30px;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
  cursor: url('../assets/cursorPointer.png') 15 0, pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.menuItem:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.menuItem:active {
  transform: scale(0.95);
}

.manual {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin-bottom: 20px;
  padding: 5px;
}

.gamesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border: 3px solid #FF512F;
  border-radius: 20px;
  min-width: 200px;
  width: 50%;
  max-width: 635px;
  background-color: #f09619a2;
}