.menuContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.menuItem {
  color: white;
  font-size: 36px;
  cursor: url('../assets/cursorPointer.png') 15 0, pointer;
  min-width: 200px;
  width: 50%;
  padding: 16px;
  background-color: orange;
  border-radius: 10px;
  text-align: center;
}